header {
    padding: 20px;
    background-color: purple;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
  
    .header-right {
      width: 200px;
      ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  