<app-header></app-header>

<div class="mt-28 mx-auto w-1/2">
  <div class="py-8">
    <h1 class="font-bold text-6xl">{{ article.title }}</h1>
    <div>
      <h4 class="text-xl">{{ article.author }}</h4>
      <h6 class="text-gray-400 text-lg">{{ article.date | time }}</h6>
    </div>
  </div>

  <div class="article-body">
    <p class="py-5">
      {{ article.body }}
    </p>
  </div>
  <fa-icon
    *appIsLoggedin="'loggedIn'"
    [icon]="faLike"
    (click)="togglelike()"
    class="icon"
    size="2x"
  ></fa-icon>
  <span [ngStyle]="{ color: 'blue' }"> {{ article.likes }} Likes</span>
</div>
