<div class="article-list">
  <div class="article">
    <div class="article-header">
      <div class="article-header-left">
        Flutter vs React Native : The last word.
      </div>
      <div class="article-header-right">
        <span class="date">20/11/2021</span>
        <span class="author">Shekhar</span>
      </div>
    </div>
    <div class="description">
      Firstly, a small digression. The easiest way to make a decision is to look
      back at history. Lets take a trip down nostalgia lane. Back in the early
      2000’s there were two UI frameworks that JAVA had. One was AWT, which was
      a way to build UIs for multiple Operating systems while still maintaining
      the look and feel of the OS...  <a routerLink="/articles" >Read More</a>
    </div>
  </div>

  <div class="article">
    <div class="article-header">
      <div class="article-header-left">
        Flutter vs React Native : The last word.
      </div>
      <div class="article-header-right">
        <span class="date">20/11/2021</span>
        <span class="author">Shekhar</span>
      </div>
    </div>
    <div class="description">
      Firstly, a small digression. The easiest way to make a decision is to look
      back at history. Lets take a trip down nostalgia lane. Back in the early
      2000’s there were two UI frameworks that JAVA had. One was AWT, which was
      a way to build UIs for multiple Operating systems while still maintaining
      the look and feel of the OS...  <a routerLink="/articles" >Read More</a>
    </div>
  </div>
</div>
