<div class="article-list">
  <div *ngFor="let item of articleList" class="article">
    <div class="article-header">
      <div class="article-header-left">
        {{ item.title }}
      </div>
      <div class="article-header-right">
        <span class="date">{{ item.date | date }}</span>
        <span class="author">{{ item.author }}</span>
      </div>
    </div>
    <div class="description">
      {{ item.body | slice: 0:300 }}...
      <a [routerLink]="['/articles/details/', item.id]"> Read More </a>
    </div>
  </div>
</div>
